/*
inicia codigo de scroll
*/
::-webkit-scrollbar{
  width: 14px;
  background: #dbe8ec;
}
::-webkit-scrollbar-button{
  width:8px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background:#3c454e;
  border:thin solid #1a1f25;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: -webkit-linear-gradient(top, #5aafb0, #4ca06d);
  -webkit-box-shadow:   inset 0 1px 0 rgba(255,255,225,.5),
                inset 1px 0 0 rgba(255,255,255,.4),
                inset 0 1px 2px rgba(255,255,255,.3);

  border:thin solid #232c34;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, #4ca06d, #5aafb0);
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77,161,112,.6);
}
/*
fin codigo de scroll
*/
main {
	margin-left: 10px;
}
.title{
	margin-left: 35px;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.exp{
width: 100%;
}
 .card .card-action a {
 	color: none;
 }

.rotate{
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.rotate.down{
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.full {
    width: 100%;
    margin-bottom: 5px;
}

.img-perfil { 
    width: 120px;
    height: 120px;
    margin-top: 10px;
}

#nav-mobile {
    padding-top: 32px;
}

#nav-mobile li {
    padding: 0;
}

.btn-fixed-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.btn-fixed-button2 {
    position: fixed;
    left: 15px;
    bottom: 15px;
}
.sp{
    margin-left: 0;
    margin-right: 6px;
}

.mb {
  margin-bottom: 25px;
}
.time {
  padding: 5px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px;
  border-bottom-color: grey;
  border-bottom-style: solid;
  margin: auto;
  text-align: center;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  outline:none;
}
.time:focus{
  box-shadow: none;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #26a69a;

}