<h5 class="text-center">{{titulo}}</h5><br>
<div class="row">
    <form class="col s12" ng-submit="guardarMateria()">
      <div class="row">
        <div class="input-field col s12">
          <input id="nombre" ng-model="materia.nombre" type="text" class="validate">
          <label for="nombre">Nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="maestro" ng-model="materia.profr" type="text" class="validate">
          <label for="maestro">Maestro</label>
        </div>
      </div>
      <div class="row">
      	<div class="col s12 m6 l4 text-center">
		   	<p>
		  		<input type="checkbox" id="lunes" ng-model="materia.dia.lunes"/>
		  		<label for="lunes">Lunes</label>
		  		<input id="hideKeyboard" style="position: absolute; left: 0px; top: -20px; z-index: -1;" type="text" name="hideKeyboard" readonly="readonly" />
		    </p>
		    <div class="col s12 left-center" ng-show="materia.dia.lunes">
			    <input class="time mb"  type="text" ng-model="materia.hilunes"></input>
			    <input class="time" type="text"  ng-model="materia.hflunes"></input>
      		</div>
      	</div>
      	<div class="col s12 m6 l4 text-center">
		   	<p>
		  		<input type="checkbox" id="martes" ng-model="materia.dia.martes"/>
		  		<label for="martes">Martes</label>
		    </p>
		    <div class="col s12 left-center" ng-show="materia.dia.martes">
			    <input class="time mb" ng-model="materia.himartes"></input>
			    <input class="time" ng-model="materia.hfmartes"></input>
      		</div>
      	</div>
      	<div class="col s12 m6 l4 text-center">
		   	<p>
		  		<input type="checkbox" id="miercoles" ng-model="materia.dia.miercoles"/>
		  		<label for="miercoles">Miercoles</label>
		    </p>
		    <div class="col s12 left-center" ng-show="materia.dia.miercoles">
			    <input class="time mb" ng-model="materia.himiercoles"></input>
			    <input class="time" ng-model="materia.hfmiercoles"></input>
      		</div>
      	</div>
      	<div class="col s12 m6 l4 text-center">
		   	<p>
		  		<input type="checkbox" id="jueves" ng-model="materia.dia.jueves"/>
		  		<label for="jueves">Jueves</label>
		    </p>
		    <div class="col s12 left-center" ng-show="materia.dia.jueves">
			    <input class="time mb" ng-model="materia.hijueves"></input>
			    <input class="time" ng-model="materia.hfjueves"></input>
      		</div>
      	</div>
      	<div class="col s12 m6 l4 text-center">
		   	<p>
		  		<input type="checkbox" id="viernes" ng-model="materia.dia.viernes"/>
		  		<label for="viernes">Viernes</label>
		    </p>
		    <div class="col s12 left-center" ng-show="materia.dia.viernes">
			    <input class="time mb" ng-model="materia.hiviernes"></input>
			    <input class="time" ng-model="materia.hfviernes"></input>
      		</div>
      	</div>
      	<div class="col s12 m6 l4 text-center">
		   	<p>
		  		<input type="checkbox" id="sabado" ng-model="materia.dia.sabado"/>
		  		<label for="sabado">Sabado</label>
		    </p>
		    <div class="col s12 left-center" ng-show="materia.dia.sabado">
			    <input class="time mb" ng-model="materia.hisabado"></input>
			    <input class="time" ng-model="materia.hfsabado"></input>
      		</div>
      	</div>
		<div class="col s12 m6 l4 text-center">
		   	<p>
		  		<input type="checkbox" id="domingo" ng-model="materia.dia.domingo"/>
		  		<label for="domingo">Domingo</label>
		    </p>
		   <div class="col s12 left-center" ng-show="materia.dia.domingo">
			    <input class="time mb" ng-model="materia.hidomingo"></input>
			    <input class="time" ng-model="materia.hfdomingo"></input>
      		</div>
      	</div>
      </div>
    </div>
    <div class="row center-align">
	  <button class="btn waves-effect waves-light" ng-click="guardarMateria()" type="submit">Guardar
	    <i class="mdi-content-send right"></i>
	  </button>
    </div>
    </form>
  </div>